[program:celery_firmware_upgrader]
user={{ www_user }}
directory={{ openwisp2_path }}
command={{ openwisp2_path }}/env/bin/celery -A openwisp2 worker -l info -n firmware_upgrader@%%h
autostart=true
autorestart=true
stopsignal=INT
redirect_stderr=true
stdout_logfile={{ openwisp2_path }}/log/celery-firmware-upgrader.log
stdout_logfile_maxbytes=30MB
stdout_logfile_backups=5
